<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2017/02/12/16/46/shoes-2060519_1280.jpg); flex-grow: 1;">
  <div class="container">
    <h1>シュShüüシュ</h1>
    <p>The fabulous shoes bring you somewhere cool</p>
    <%= link_to "All shoes", shoes_path, class: "btn btn-success btn-lg text-decoration-none text-white rounded" %>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= form_tag shoes_path, method: :get, class: 'd-flex' do %>
          <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find perfect shoes!"
  %>
          <%= button_tag type:'submit', style: 'border-style:none', class: 'rounded' do %>
            <i class="fas fa-search border-style-none"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
